.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.title {
  font-size: 15px;
  font-style: 'Roboto';
  font-weight: 500;
  padding-right: 15px;
}
.btn {
  color: #ff0b37;
  border: 1px #ff0b37 solid;
  font-size: 10px;
  padding: 5px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
}
