/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  background-color: white;
  margin: 10px;
  width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.head {
  color: #ff8542;
  font-family: 'roboto';
  margin-top: 50px;
  margin-bottom: 50px;
}
.un-list {
  list-style-type: none;
}
